@using WebProjektBeispiel.Models
@model List<Article>
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    Shop
</p>
@*
Die Variable Model wird automatisch von ASP.NET Core erzeugt sie beinhaltet einen List Artikel
*@
@if ((Model==null) || (Model.Count == 0))
{
    <p>
        Es sind keine Artikel im Shop vorhanden!
    </p>
}
else{
    //alle artikel in Tabellenform ausgeben
    <table>
        <thead>
            <tr>
                <td colspan="5">Shopartikel</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ArtikelID</td>
                <td>Name</td>
                <td>Artikelbeschreibung</td>
                <td>Erscheinungsdatum</td>
                <td>Preis</td>
            </tr>
            @foreach (Article a in Model)
            {
            <tr>
                <td style="text-align: center;">@a.ArticleID</td>
                <td>@a.Articlename</td>
                <td>@a.Description</td>
                <td>@a.ReleaseDate</td>
                <td>@a.Price</td>
            </tr> 
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Alle Artikel unseres Shops</td>
            </tr>
        </tfoot>
    </table>
}